[typeof=MedicalScholarlyArticle] header {
    display: -webkit-flex;
    display: flex;
}

[typeof=MedicalScholarlyArticle] [property=url] {
    color: inherit;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 400;
    -webkit-flex: 1;
    flex: 1;
}

[typeof=MedicalScholarlyArticle] [property=url]:visited {
    color: green;
}


[typeof=MedicalScholarlyArticle] [property=datePublished] {
    display: inline-block;
    white-space: nowrap;
    padding-left: 10px;
    color: #999;
}

[typeof=MedicalScholarlyArticle] [property=datePublished] .month {
    visibility: hidden;
}

[typeof=MedicalScholarlyArticle] [property=creators] {
    color: #777;
    margin-left: 10px;
}

[typeof=MedicalScholarlyArticle] [property=creator] {
    white-space: nowrap;
}

[typeof=MedicalScholarlyArticle] [property=creator] a {
    color: inherit;
}

[typeof=MedicalScholarlyArticle] [property=citation] {
    color: #270;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline;
    margin-left: 10px;
}

[typeof=MedicalScholarlyArticle] [property=citation] a {
    color: inherit;
}

[typeof=MedicalScholarlyArticle] .has-extra .extra {
    display: none;
}

[typeof=MedicalScholarlyArticle] .has-extra:hover .extra {
    display: inline;
}

[typeof=MedicalScholarlyArticle] section {
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

[typeof=MedicalScholarlyArticle] [property=abstract] {
    background: white;
    font-weight: normal;
    padding: 10px;
    color: #444;
    font-size: 90%;
}

[typeof=MedicalScholarlyArticle] [property=abstract]:not(:last-of-type) {
    margin-bottom: 10px;
}

[typeof=MedicalScholarlyArticle] footer {
    margin-top: 5px;
}

[typeof=MedicalScholarlyArticle] .et-al {
    font-style: italic;
    white-space: nowrap;
    color: #aaa;
}

@media only screen and (max-width: 500px) {
    [typeof=MedicalScholarlyArticle] [property=abstract] {
        margin-left: -10px;
    }

    [typeof=MedicalScholarlyArticle] [property=datePublished] .month {
        display: none;
    }
}

@media only screen and (min-width: 500px) {
    [typeof=MedicalScholarlyArticle] [property=datePublished]:hover .month {
        visibility: visible;
    }
}

