article {
    display: flex;
}

article .context {
    flex: 0.1;
    padding-right: 10px;
}

article .main {
    flex: 1;
}

article header {
    display: flex;
    position: relative;
}

article [property=name],
article [property=creators] {
    flex: 1;
}

article [property=url] {
    color: inherit;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 400;
}

/*
article [property=url]:visited {
    color: green;
}
*/

article [property=datePublished] {
    display: inline-block;
    white-space: nowrap;
    color: #999;
}

article [property=datePublished] .day {
    visibility: hidden;
}

article [property=creators] {
    color: #777;
}

article [property=creator] {
    white-space: nowrap;
}

article [property=creator] a {
    color: inherit;
}

article [property=citation] {
    color: #270;
}

article [property=journal]  {
    color: inherit;
}

article .has-extra .extra {
    display: none;
}

article .has-extra:hover .extra {
    /*display: inline;*/
}

article [property=abstract] {
    font-weight: normal;
    padding: 0 10px;
    color: #444;
    font-size: 90%;
}

article [property=abstract]:not(:last-of-type) {
    margin-bottom: 10px;
}

article [property=abstract] > span {
    display: block;
    margin-left: 1em;
    text-indent: -1em;
}

article section {
    margin-top: 5px;
    margin-bottom: 5px;
}

article section,
article .sources {
    display: none;
}

article.expanded section {
    display: block;
}

article.expanded .sources {
    display: inline-block;
}

article.expanded .creators .hidden {
    display: inline;
}

article.expanded .creators .et-al {
    display: none;
}

article:not(.expanded) .show-when-expanded {
    display: none;
}

article .et-al {
    font-style: italic;
    white-space: nowrap;
    color: #aaa;
}

article .no-abstract {
    font-size: 90%;
    margin-left: 10px;
}

article .read {
    padding-right: 10px;
    display: block;
    color: #ddd;
    text-align: right;
}

article .read:hover {
    color: #ccc;
}

article .read:after {
    content: "►";
}

article.expanded .read:after {
    content: "▼";
}

article .read:visited {
    color: #f6f6f6; /* can't hide when visited */
}

article .mesh {
    color: #8a8;
    font-size: 90%;
}

article .mesh:not(:last-of-type):after {
    content: ", ";
}

@media only screen and (max-width: 1024px) {
    article header.meta,
    article header.meta > span {
        display: block;
    }

    article [property=abstract] {
        padding: 0;
    }
}

@media only screen and (min-width: 512px) {
    article [property=creators],
    article [property=citation]{
        margin-left: 10px;
    }
}

