a .hint {
    display: none;
}

@media only screen and (min-width: 500px) {
    a .hint {
        opacity: 0;
        display: inline-block;
        content: attr(data-hint);
        text-decoration: none;
        color: green;
        font-family: "Helvetica", "Arial", sans-serif;
        margin-left: 5px;
        /*position: absolute;
        top: 18px;
        left: 8px;*/

        -webkit-transition-property:opacity;
        -webkit-transition-duration:1s;
        -webkit-transition-delay:0.5s;

        transition-property:opacity;
        transition-duration:1s;
        transition-delay:0.5s;
    }

    a:hover .hint {
        opacity: 0.7;
    }

    a:active .hint {
        display: none;
    }
}
