#input {
	margin: 10px auto 10px;
}

#input > div {
	margin-bottom: 10px;
}

#input > div > * {
	display: inline-block;
}

#input input[type=submit],
#input input[type=text] {
	font-size: 1em;
	padding: 0.5em;
	-webkit-appearance: none;
	background: none;
	border: 1px solid #DDD;
	margin: 0;
}

#input input[name=term] {
	width: 70%;
	background: white;
}

#input input[type=submit] {
	position: relative;
	left: -20px;
	background: #f6f6f6;
}

#input input[type=submit]:hover {
	cursor: pointer;
	background: #eee;
}

#input .clear {
	color: #aaa;
	position: relative;
	left: -30px;
	cursor: pointer;
	display: inline-block;
	z-index: 99;
}

#input .clear:hover {
	color: #000;
}

#input-filters, #date-filters {
	margin-left: 1px;
}

#input-filters {
	margin-top: 10px;
}

#input-filters input[type=checkbox] {
	margin: 0 5px 0 0;
}

#input-filters label {
	display: inline-block;
	margin-right: 0.5em;
	vertical-align: middle;
}

#date-filters label {
	display: inline-block;
	margin-left: 0.5em;
	vertical-align: middle;
}

#date-filters input[type=radio] {
	margin: 1px 2px 0;
	vertical-align: text-top;
}

