#input {
	margin: 10px auto 10px;
}

#input > div {
	margin-bottom: 10px;
}

#input > div > * {
	display: inline-block;
}

#input input[name=term] {
	width: 100%;
	background: white;
	padding: 5px;
	border-radius: 5px;
}

#input [type=submit] {
	display: none;
}

#input-filters, #date-filters {
	margin-left: 1px;
}

#input-filters input[type=checkbox] {
	margin: 0 5px 0 0;
	vertical-align: 0.1em;
}

#input-filters label {
	display: inline-block;
	margin-right: 0.5em;
	vertical-align: middle;
}

#date-filters {
	white-space: nowrap;
}

#date-filters label {
	display: inline-block;
	margin-left: 0.5em;
	vertical-align: middle;
}

#date-filters input[type=radio] {
	margin: 1px 2px 0;
	vertical-align: text-top;
}

