header, nav, footer {
	display: block;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 100%;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.4;
	margin: 0;
	color: #000;
}

.wrapper{
	width: 90%;
	margin: 0 auto;
}

@media only screen and (min-width: 1140px) {
	.wrapper {
		width: 1026px;
	}
}

header {
	background: #444;
	box-shadow: 0 5px 10px #aaa;
}

/*
.plural > *:not(:last-of-type):after {
    content: ", ";
}
*/

[hidden], .hidden {
	display: none;
}

a {
	color: #00E;
	text-decoration: none;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

article a:hover {
    color: #00E !important;
}

footer a {
	opacity: 0.5;
}

footer a:hover {
	opacity: 1.0;
	text-decoration: none;
}

a[rel=fulltext]:before {
	content: "↪ ";
}

a[rel=related]:before {
	content: "✫ ";
}

a[rel=export]:before {
	content: "⇣ ";
}

a.expandable:before {
	content: "▿ ";
}

a.expandable.expanded:before {
	content: "▵ ";
}