a {
	text-decoration: none;
}

.link {
	color: #00E;
}

.link:focus {
	outline: thin dotted;
}

.link:hover, .link:active {
	outline: 0;
}

article .link:hover {
    color: #00E !important;
}

.link.expandable:before {
	content: "▿ ";
}

.link.expandable.expanded:before {
	content: "▴ ";
}

.links {
	display: inline-block;
}

.link {
    white-space: nowrap;
    font-weight: 200;
    font-size: 90%;
    opacity: 0.5;
    display: inline-block;
    cursor: pointer;
}

.link:hover {
	opacity: 1.0;
}

.link:not(:last-child) {
    margin-right: 10px;
}

.link[data-intent] {
	margin-right: 5px;
}

.dropdown-list {
	display: none;
	position: absolute;
	background: white;
	box-shadow: 1px 1px 3px rgba(125, 125, 125, 0.5);
}

.dropdown-list .link {
	display: block;
	padding: 2px 5px;
	margin-right: 0;
	opacity: 0.7;
}

.dropdown-list .link:hover {
	background-color: #CACAFA;
}
