a {
	color: #00E;
	text-decoration: none;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

article a:hover {
    color: #00E !important;
}

a.expandable:before {
	content: "▿ ";
}

a.expandable.expanded:before {
	content: "▴ ";
}

.links {
	display: inline-block;
}

a.link {
    white-space: nowrap;
    font-weight: 200;
    font-size: 90%;
    opacity: 0.5;
    display: none;
}

a.link:not(:last-child) {
    margin-right: 10px;
}

a.link[rel=related] {
	display: inline-block;
}

a.link[rel=save] {
	display: none;
}

a.link[rel=save].preferred-save-type {
	display: inline-block;
}

article.expanded a.link {
	display: inline-block;
}

.links:hover a.link {
	opacity: 1.0;
}

article.expanded .save-links a.link {
	display: none;
}

.save-links a.link[rel=save].preferred-save-type {
	display: inline-block;
}

.save-links:hover {
	margin-right: 10px;
}

.save-links:hover a.link {
	display: inline-block !important;
}

a.link:hover {
	text-decoration: underline;
}

