.metrics {
	/*background: #f6f6f6;
	height: 100%;*/
}

.metric {
	display: block;
	white-space: nowrap;
	line-height: 20px;
	color: #444;
	background-color: white;
	background-size: 16px 16px;
	background-position: 5px center;
	background-repeat: no-repeat;
	font-size: 90%;
	opacity: 0.75;
	text-shadow: 0 -1px 1px white;
	margin-bottom: 2px;
}

.metric:hover {
	opacity: 1.0;
}

.metric img {
	vertical-align: text-top;
	margin-right: 5px;
	height: 16px;
	width: 16px;
}