.metrics {
	background: #f6f6f6;
	height: 100%;
}

.metric {
	display: block;
	white-space: nowrap;
	padding: 2px 5px 0 27px;
	color: #999;
	background-color: white;
	background-size: 16px 16px;
	background-position: 5px center;
	background-repeat: no-repeat;
	vertical-align: middle;
	font-size: 90%;
	opacity: 0.75;
	text-shadow: 0 -1px 1px white;
}

.metric:hover {
	opacity: 1.0;
}