#options {
	text-align: right;
	display: table-row;
}

#options > * {
	display: table-cell;
	padding-bottom: 10px;
}

#options > div {
	display: none;
}

.show-metrics #options > div {
	display: table-cell;
}