.pagination {
	margin-bottom: 40px;
	display: block;
	padding: 10px;
	background: #f6f6f6;
	text-align: center;
	color: #444;
	text-shadow: 0 -1px 1px white;
}

.pagination:hover {
	color: #000;
	background: #f0f0f0;
}

.pagination .spinner {
	vertical-align: middle;
}