a[data-tooltop-position=before],
a[data-tooltop-position=after] {
    position:relative;
}

a[data-tooltop-position=before]:before,
a[data-tooltop-position=after]:after {
    opacity:0;
    display:none;
    content:attr(title);
    z-index:999;
    text-decoration:none;
    max-width:100px;
    overflow:hidden;
    text-overflow:ellipsis;
    position:absolute;
    width:auto;
    padding:0 5px;
    color:#fff;
    font-size:12px;
    font-weight:normal;
    font-family:"Helvetica", "Arial", sans-serif;
    white-space:normal;
    background:#65788A;
    text-align:center;
    border-radius:5px;

    -webkit-transition-property:opacity;
    -webkit-transition-duration:2s;
    -webkit-transition-delay:1s;

    transition-property:opacity;
    transition-duration:2s;
    transition-delay:1s;
}

a[data-tooltop-position=before]:before {
    right:100%;
    margin-right:10px;
}

a[data-tooltop-position=after]:after {
    left:100%;
    margin-left:10px;
    max-width: 400px;
    white-space: nowrap;
    font-size: inherit;
    background: none;
    color: green;
    padding: 0;
}

a[data-tooltop-position=before]:hover:before {
    display:inline-block;
    opacity:0.7;
}

a[data-tooltop-position=after]:hover:after {
    display:inline-block;
    opacity:0.7;
}
